
/* creating the header of game */
#header{
text-align: center;
}
#game-name{  
    border-bottom: 2px dotted red;
    display: inline-block; 
    ;  
}
/* the images */

.main{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 5px;

}
 

  
 .img-card {

     height: 100px;
    width: 100px;  
    padding: 2px;
     margin: auto; 
    border: 1px solid black;
      display: none; 
}  
 .background {
     /* display: none;   */
    width: 100x;
    height: 100px;
    border: 3px dashed rgb(10, 9, 9);
    background-color: rgb(223, 25, 25);
    opacity: 0.5;
  } 

  #tryAgain-box{
    padding-top: 10px;
    
   
    gap: 15px; 
    
  }

   #you-lose{

  display: none;
  color: red;
  font-size: large;
  margin-bottom: 2px;
  }

 #try-again{
    margin-top: 10px;
    width: 100px;
    color: black;
   font-size: large;
        }  

